.home_page {
    margin: auto;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75vw;
}

.flex_item {
    min-height: 600px;
    max-height: 600px;
}
