.container {
    max-width: 75vw;
    display: flex;
    justify-content: center;
    height: 600px;
}

.fixed {
    z-index: 1;
    width: 75vw;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
    position: fixed;
}

.chat_img {
    width: 100vw;
}
